.grid-item-wrapper {
  flex: 0 0 33.3%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  height: 33%;
}

.grid-item {
  height: 100%;
  width: 100%;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

enabled {
  pointer-events: auto;
}
